# Node.js függőségek
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# CSS map fájlok
*.css.map

# IDE / szerkesztő mappák
.vscode/
.idea/

# OS fájlok
.DS_Store
Thumbs.db

# Build / dist mappák
/dist/
/build/

# Egyéb ideiglenes fájlok
*.tmp
*.log