@import "reset";
@import "mixin";
@import "css-variables";

body {
    grid: 
    "nav-area1" 30px
    "nav-area2" 50px
    "main-area" auto
    "footer-area" auto
    / 100%
    ;

    main {
        grid-area: main-area;
        background-color: $darkBg;
        background-image: url(../images/booking-bg.jpg);
        @include bgImg ();
        display: grid;
        
        header {
            margin: 0 40px;
            padding: 1em;
            max-width: 400px;
            
            h1 {
                @include mainTitle ();
                text-align: center;
                background-color: $lightBgBlur;
                border-radius: 20px;
                border: 1px solid $lightBg;
            }
        }

        form {
            @include text();
            font-size: 1rem;
            max-width: 400px;
            margin: 0 40px;
            padding: 1em;
            border: 1px solid $lightBg;
            background-color: $lightBgBlur;
            border-radius: 20px;

            .form-group {
                margin-bottom: 1em;

                label {
                    display: block;
                    margin-bottom: 0.5em;
                }

                input {
                    width: 100%;
                    padding: 0.5em;
                    box-sizing: border-box;
                }

                textarea {
                    width: 100%;
                    height: 150px;
                    resize: none;
                }
            }

            .btn {
                @include text ();
                font-size: 1rem;
                text-align: center;
                background-color: $primary;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                width: 100%;
                padding: 0.7em;
            }
        }

        .button {
            max-width: 400px;
            margin: 40px;
            padding: 0.7em;
            background-color: $primary;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                @include text ();
                font-size: 1rem;
                text-align: center;
            }
        }

        .hover-effect {
            transition: transform 0.5s ease; 
        }
        
        .hover-effect:hover {
            transform: scale(0.9); 
            box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.484);
        }

        .button:hover {
            background-color: $darkBgBlur;
            
            a {
                color: $primary;
            }
        }

        .btn:hover {
            background-color: $secondary;
            color: $primary;
        }
    }
}

@media screen and (min-width:576px) {
    body {
        grid: 
        "nav-area1" 30px
        "nav-area2" 60px
        "main-area" auto
        "footer-area" auto
        / 100%
        ;

        main {
            grid-area: main-area;
        }
    }
}

@media screen and (min-width:768px) {
    body {
        grid: 
        "nav-area1" 30px
        "nav-area2" 70px
        "main-area" auto
        "footer-area" auto
        / 100%
        ;

        main {
            grid-area: main-area;
        }
    }
}

@media screen and (min-width:992px) {
    body {
        grid: 
        "nav-area1" 30px
        "nav-area2" 80px
        "main-area" auto
        "footer-area" auto
        / 100%
        ;

        main {
            grid-area: main-area;
        }
    }
}

@media screen and (min-width:1200px) {
    body {
        grid: 
        "nav-area1" 30px
        "nav-area2" 90px
        "main-area" auto
        "footer-area" auto
        / 100%
        ;

        main {
            grid-area: main-area;
        }
    }
}